.right-space {
  margin-right: 20px;
}

h3 {
  margin-bottom: 20px;
}

.panel-title a {
  cursor: pointer;
}

.panel-title a:after {
  font-family: Fontawesome;
  content: '\F077';
  float: right;
  font-size: 10px;
  font-weight: 300;
  cursor: pointer;
}

.panel-title a.collapsed:after {
  content: '\F078';
}

.checkboxes-div {
  margin-top: 30px;
  margin-bottom: 30px;
}

