body {
    background-color: whitesmoke;
}

#root {

}

.header {
    padding: 20px 0 30px 0;
    border-bottom: 1px solid;
    background-color: white;
}

.login {
    margin-top: 150px;
    padding: 30px 0 50px 0;
}

.logout {
    position: absolute;
    top: 40px;
    right: 50px;
}

.primary-layout {
    margin: 30px 0;
}

.container {
    background-color: white;
    padding: 30px;
}

.form-check-label {
    padding-left: 10px !important;
    padding-top: 2px;
    font-weight: 400;
}
