body {
    background-color: whitesmoke;
}

#root {
    background-color: white;
}

.header {
    padding: 20px 0 30px 0;
    border-bottom: 1px solid;
}

.login {
    margin-top: 150px;
    padding: 30px 0 50px 0;
}

.logout {
    position: absolute;
    top: 20px;
    right: 50px;
}

.primary-layout {
    margin-top: 30px;
}