.report-list {
  .col-md-6 {
    margin-bottom: 20px;
    button {
      width: 80%;
    }
  }
}

.report-container {
  .report-filters {
    margin-top: 20px;
    margin-bottom: 20px;

    .inline {
      &>div {
        display: inline-block;
      }
    }
  }
  .extra-stats {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .fa-times {
    color: red
  }
  .fa-check {
    color: green
  }
  a {
    text-decoration: underline;
    color: lightskyblue;
  }
  .table {
    .star-ratings {
      width: 60px;
    }
  }
}

