.ticket-list-wrapper {
  .ticket-import-upload-wrapper {
    margin-top: 30px;
  }

  .ticket-ingest-email-wrapper {
    margin-top: 30px;
  }

  .ticket-types-filter {
    padding-top: 0.5em;
  }

  .abc-checkbox{
    padding-top: 1em;
    padding-bottom: 1em;
  }
}
