.ticket-list-wrapper {
  .ticket-import-upload-wrapper {
    margin-top: 30px;
  }

  .ticket-ingest-email-wrapper {
    margin-top: 30px;
  }

  .buttons-wrapper {
    display: flex;
    justify-content: space-around;
    margin-top: 0.5em;
  }

  .ticket-types-filter, .view-types-filter, .promocodes-filter {
    padding-top: 0.5em;
  }

  .abc-checkbox{
    padding-top: 1em;
    padding-bottom: 1em;
  }

  .search-section {
    display: flex;

    .search-container {
      flex: 1;
    }
  }
}

.ticket-list-segment {
  width: 100%;
  height: 40px;
  color: #337ab7;
  font-size: 10px;
}

.ticket-list-table {
  overflow: auto;
  max-height: 700px;
}

.modal_ingest{
  z-index: 100000000000000000000000000000000000 !important;
}
