<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <head>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
        <title>OpenStack - Summit Admin</title>
    </head>
    <body>
        <div id="root"></div>
    </body>
</html>